@page "/"
@using Microsoft.EntityFrameworkCore;
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using SariRasaWeb.Data
@using SariRasaWeb.Models
@using Color = MudBlazor.Color
@using Transition = MudBlazor.Transition
@using Size = MudBlazor.Size

<PageTitle>Home</PageTitle>

@if (loaded)
{
    <MudPaper Class="pa-4 mb-4" Elevation="3">
        <div class="d-flex align-items-center gap-4">
            @* <MudImage Src="/images/profile.jpg" Class="rounded-circle profile-image" Width="80" Height="80"></MudImage> *@
            <div>
                <h2 class="h4">Hello @name</h2>
                <h3 class="h6 text-danger">Jumlah Point</h3>
                <h3 class="h6">@point</h3>
            </div>
        </div>
    </MudPaper>
    <MudPaper Class="pa-4 mb-4" Elevation="3" Style="background: rgb(248, 246, 204)">
        <div class="d-flex align-items-center justify-content-center gap-4">
            <div>
                <h3 class="h4 m-0">Kartu Member</h3>
            </div>
            <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Error" Href="/card" Class="rounded-pill">Lihat Kartu</MudButton>
        </div>
    </MudPaper>
    <MudFab Color="Color.Success" StartIcon="@Icons.Material.Filled.Whatsapp" Label="Order Melalui Whatsapp" Class="w-100" Target="_blank" Href="https://wa.me/628113500899" />
    @if (promosi.Length > 0)
    {
        <MudCarousel Class="mud-width-full d-md-none mt-4" Style="height:250px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
            @foreach (MPromosi p in promosi)
            {
                <MudCarouselItem Transition="transition">
                    <div class="d-flex justify-content-center h-100 w-100" style="">
                        <MudImage Src="@GetPromosiLink(p.Promosi)" Alt="Promosi" Class="rounded-lg" Style="min-height:100%; min-width: 100%; object-fit: contain;" />
                    </div>
                </MudCarouselItem>
            }
        </MudCarousel>
        <MudCarousel Class="mud-width-full d-none d-md-block mt-4" Style="height:350px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
            @foreach (MPromosi p in promosi)
            {
                <MudCarouselItem Transition="transition">
                    <div class="d-flex justify-content-center h-100 w-100" style="">
                        <MudImage Src="@GetPromosiLink(p.Promosi)" Alt="Promosi" Class="rounded-lg" Style="min-height:100%; min-width: 100%; object-fit: contain;" />
                    </div>
                </MudCarouselItem>
            }
        </MudCarousel>
    }
}
else
{
    <MudContainer Class="d-flex justify-content-center align-items-center vh-100">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudContainer>
}


@inject AppDbContext dbContext
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavManager
@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    private bool loaded = false;

    string userName = "";
    string name = "";
    int point = 0;
    MPromosi[] promosi = [];

    private string GetPromosiLink(string slug)
    {
        return $"images/{slug}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            var token = await ProtectedSessionStore.GetAsync<string>("token");
            if (!token.Success)
            {
                NavManager.NavigateTo("/login");
                return;
            }
            var authPayload = SariRasaWeb.Utils.Auth.ValidateToken(token.Value);
            if (authPayload == null)
            {
                NavManager.NavigateTo("/login");
                return;
            }

            userName = SariRasaWeb.Utils.Auth.GetSubFromSecurityToken(authPayload);
            var customer = await dbContext.MCustomer.Where(c => c.NOMHP == userName).FirstOrDefaultAsync();
            name = customer.NMCUS;
            loaded = true;
            var now = DateTime.Now;
            promosi = await dbContext.MPromosi.Where(t => t.TGLAwal <= now && t.TGLAkhir >= now).OrderByDescending(t => t.Promosi).ToArrayAsync();

            await dbContext.Database.ExecuteSqlAsync($"EXECUTE usp_CekPoint '{customer.NOMBR}'");

            var sldPoint = await dbContext.SldPoint.Where(p => p.NOMBR == customer.NOMBR).FirstOrDefaultAsync();
            point = sldPoint.POINT ?? 0;

            StateHasChanged();
        }
    }
}
